/* body */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    background-color: #FAF8FF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    display: grid;
    grid-template-areas: "header header header " "main main main " "footer footer footer ";
    grid-template-rows: 0.2fr 2fr 0.2fr;
    grid-template-columns: 1fr 0.2fr 0.2fr; }
  html .gridContainer {
    display: grid;
    grid-template-areas: "header header header header" "main main main main" "section section section section" "sectionTwo sectionTwo sectionTwo sectionTwo" "footer footer footer footer";
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr; }

/*header */
header {
  grid-area: header;
  background-color: #908CB8;
  padding: 10px;
  border: solid black; }
  header .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
    header .logo img {
      height: 70px; }
    header .logo .tituloLogo {
      color: black;
      font-weight: bold;
      text-align: center;
      font-size: 50px; }
  header nav {
    grid-area: nav;
    background-color: #908CB8;
    justify-content: center; }
    header nav .menu {
      display: flex;
      align-items: center;
      flex-direction: column; }
      header nav .menu #opciones ul li {
        list-style: none;
        float: right;
        margin-top: 50px; }
        header nav .menu #opciones ul li a {
          text-decoration: none;
          background-color: #D5CABD;
          color: black;
          margin-right: 50px;
          border-radius: 20px;
          padding: 20px;
          font-size: 20px; }
        header nav .menu #opciones ul li a:hover {
          background-color: royalblue; }

/*main*/
.mainPrincipal {
  grid-area: main;
  margin-top: 20px; }
  .mainPrincipal .container {
    display: flex;
    justify-content: center; }
  .mainPrincipal img {
    min-width: 100%;
    height: 32rem; }

main {
  grid-area: main;
  margin-left: 20px;
  margin-top: 10px; }
  main .fotosClases {
    margin-left: 2%;
    font-size: 20px; }
  main .imagenesClases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px; }
    main .imagenesClases img {
      height: 400px;
      margin-top: 10px;
      margin-left: 10px; }
    main .imagenesClases img:hover {
      height: 600px; }

main .formulario {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  main .formulario .textareaConsulta {
    resize: none;
    width: 50rem;
    height: 25rem; }

/*diferentes section*/
section {
  grid-area: section; }
  section .sectionOne {
    margin-top: 10px; }
    section .sectionOne .sobreGuami {
      font-size: 40px;
      margin-left: 1.5%; }
    section .sectionOne img {
      height: 500px;
      margin-left: 2%; }

.sectionTwo {
  grid-area: sectionTwo;
  margin-top: 20px; }
  .sectionTwo h2 {
    margin-left: 1.5%; }

.imagenTexto {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px; }
  .imagenTexto .presentacion {
    margin-left: 20px; }

/*footer*/
footer {
  grid-area: footer;
  margin-top: auto;
  background-color: #908CB8;
  border: solid;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column; }
  footer ul {
    position: absolute;
    top: 35%;
    left: 2%; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        text-decoration: none;
        background-color: #D5CABD;
        color: black;
        margin-right: 50px;
        border-radius: 30px; }
  footer h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 50px; }

/*medias queries*/
@media (max-width: 600px) {
  html .gridContainer {
    display: grid;
    grid-template-areas: "header header header header" "main main main main" "section section section section" "sectionTwo sectionTwo sectionTwo sectionTwo" "footer footer footer footer";
    grid-template-rows: 0.2fr 1.3fr 1.5fr 0.2fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr; }
  .logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; }
    .logo .tituloLogo {
      animation: none; }
  main {
    margin-left: 2px; }
  .mainPrincipal .carousel-item {
    width: auto; }
  .imagenTexto {
    flex-direction: column; }
  .imagenTexto img {
    margin-right: 0px; }
  nav ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    nav ul li a {
      margin-right: 5px; }
  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
  .imagenesClases img {
    width: 350px;
    height: 400px;
    margin-bottom: 5px; }
  .imagenesClases img:hover {
    height: 400px !important; }
  .footerMedia {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  footer ul .list-unstyled {
    position: relative; }
  footer ul {
    top: 0;
    left: 0; }
  footer .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  footer ul {
    position: relative; } }
