* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    background-color: #FAF8FF;
    font-family: 'Amatic SC', cursive;
    min-height: 100%;
}


.gridContainer {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "section section section section"
        "sectionTwo sectionTwo sectionTwo sectionTwo"
        "footer footer footer footer";
    grid-template-rows: 0.2fr 2fr 1.5fr 0.2fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
}

/* HEADER */

header {
    grid-area: header;
    background-color: #908CB8;
    padding: 30px;

}

.tituloLogo {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}


.logo img {
    height: 70px;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* NAV */

nav ul li {
    list-style: none;
    float: right;
    margin-top: 60px;
}

nav ul li a {
    text-decoration: none;
    margin-right: 50px;
    border-radius: 20px;
    background-color: #D5CABD;
    color: black;
    padding: 20px;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: royalblue;
}


.nav {
    grid-area: nav;
    background-color: #908CB8;
    transition: 2s;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*MAIN AND SECTION*/
.main {
    grid-area: main;
    margin-left: 500px;
    margin-top: 50px;

}

.sobreGuami {
    font-size: 40px;
    margin-left: 1.5%;
}

.paginaPrincipal {
    display: flex;
    font-size: 25px;

}

.paginaPrincipal img {
    height: 500px;
    margin-right: 200px;
    margin-left: 2%;
}

.carouselIndex {
    margin-left: 100px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.fotosClases {
    margin-left: 2%;
}

.imagenesClases {
    align-items: inherit;
}

.imagenesClases img {
    height: 400px;
}

.imagenesClases img:hover {
    height: auto;
}


.formulario {
    font-size: 30px;
}

.formulario .textareaConsulta {
    resize: none;
}


.sectionOne {
    grid-area: section;
}

.sectionTwo {
    grid-area: sectionTwo;
}



/*FOOTER*/

.footer {
    grid-area: footer;
    margin-top: auto;
}

.footer {
    display: flex;
    background-color: #908CB8;
    border: solid;
    margin-top: auto;
    flex-direction: column;
}

footer {
    position: relative;
}

footer ul {
    position: absolute;
    top: 35%;
    left: 2%;
}

footer ul li {
    display: inline-block;
}



footer ul li a {
    color: black;
    text-decoration: none;
    margin-right: 50px;
    border-radius: 30px;
    background-color: #D5CABD;
}

/*MEDIA QUERIES*/

@media (max-width:600px) {

    .paginaPrincipal {
        flex-direction: column;
    }

    .paginaPrincipal img {
        margin-right: 0px;
    }

    nav ul li a {
        margin-right: 5px;
        padding: 5px;
    }

    footer .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    footer ul {
        position: relative;
    }

    .imagenesClases img {
        width: 350px;
        height: auto;
    }
}