/*medias queries*/

@media (max-width:600px) {

    html .gridContainer {
        display: grid;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "section section section section"
            "sectionTwo sectionTwo sectionTwo sectionTwo"
            "footer footer footer footer";
        grid-template-rows: 0.2fr 1.3fr 1.5fr 0.2fr;
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    }

    .logo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .tituloLogo {
            animation: none;
        }
    }

    main {
        margin-left: 2px;
    }

    .mainPrincipal {


        .carousel-item {
            width: auto;
        }


    }

    .imagenTexto {
        flex-direction: column;
    }

    .imagenTexto img {
        margin-right: 0px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        margin-top: 10px;


        a {
            margin-right: 5px;

        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }


    .imagenesClases img {
        width: 350px;
        height: 400px;
        margin-bottom: 5px;
    }

    .imagenesClases {
        img:hover {
            height: 400px !important;
        }
    }



    .footerMedia {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    footer ul .list-unstyled {
        position: relative;
    }

    footer ul {
        top: 0;
        left: 0;
    }

    footer .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    footer ul {
        position: relative;
    }






}