@import "utilities/variables";
@import "utilities/mixins";


//holi me parece que no se esta compilando
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;

    body {
        background-color: $colorPrincipal;
        font-family: 'Amatic SC', cursive;
        min-height: 100%;


        display: grid;
        grid-template-areas:
            "header header header "
            "main main main "
            "footer footer footer ";
        grid-template-rows: 0.2fr 2fr 0.2fr;
        grid-template-columns: 1fr 0.2fr 0.2fr;
    }
}

header {
    grid-area: header;
    background-color: $colorSecundario;
    padding: 30px;

    .logo {
        @include display-wrap-justify;

        .tituloLogo {
            @include color-font-padding;
        }
    }

    nav {
        grid-area: nav;
        background-color: #908CB8;
        justify-content: center;

        .menu {
            @include display-align-flex;

            #opciones {

                ul li {
                    list-style: none;
                    float: right;
                    margin-top: 60px;

                    a {
                        @include decoration-bg-color;
                        margin-right: 50px;
                        border-radius: 20px;
                        padding: 20px;
                        font-size: 20px;
                    }


                    a:hover {
                        background-color: royalblue;
                    }
                }
            }
        }
    }



}

main {
    grid-area: main;
    margin-left: 500px;
    margin-top: 50px;
}





footer {
    grid-area: footer;
    margin-top: map-get($estilos, top);
    background-color: map-get($estilos, color);
    border: map-get($estilos, borde);
    position: map-get($estilos, posicion);
    @include display-align-flex;

    ul {
        position: absolute;
        top: 35%;
        left: 2%;

        li {
            display: inline-block;

            a {
                @include decoration-bg-color;
                margin-right: 50px;
                border-radius: 30px;
            }


        }


    }

    h2 {
        @include color-font-padding;
    }
}