//variables
$colorPrincipal: #FAF8FF;
$colorSecundario: #908CB8;
$colorOpciones: #D5CABD;
.p-20 {
    padding:20px;
} 



$estilos :(
top: auto,
color: $colorSecundario,
borde: solid,
posicion:relative,
)
